@charset "utf-8";
/* CSS Stylesheet */

html{
    font-family: 'Roboto', sans-serif;
}

/* Background Colours */

#index{
    
}

#about, #contact{
    background: #B3FFAB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#registration, #guidelines, #t-and-c{
    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#sponsors{
    
}

#charities{
    background: #00c3ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffff1c, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.videos{
    
}

.news{
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Header */

.navbar{
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.logo{
    height: 57px;
}

.icon{
    height: 25px;
    margin: 3px;
}

.hashtag{
    font-size: 17px;
}

.nav-link{
    color:#414141;
    font-size:0.9em;
}

.nav-link:hover{
    color:#a8a8a7;
}

.nav-link:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.8s cubic-bezier(.25,.8,.25,1);
}

.dropdown-menu{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border: none;
    border-radius: 0px;
}

.dropdown-item{
    color: #414141;
    font-size: 0.9em;
}

.dropdown-item:hover{
    background-color: #fff;
    color:#a8a8a7;
    font-size:0.9em;
}

.nav-list{
    list-style-type: square;
}

.active{
    color:#a8a8a7;
}

.fa-bars{
    color:#414141;
}


/* Page Contents */

.page-contents{
    margin-top: 170px;
    margin-bottom: 80px;
    background-color: #fff;
}

/* Footer */


#footer {
	background-color:#414141;
	color:white;
	width:100%;
	position:absolute;
	overflow:auto;
}


#footer h5{
	color: #a8a8a7;
    font-weight: bold;
    margin-top: 30px;
}

#footer ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#footer a{
	color:#fff;
	text-decoration: none;
}

#footer a.footer-heading{
	color:#a8a8a7;
    font-size:0.7em;	
}

#footer a.footer-heading:hover{
    color: #fff;
}

#footer a{
    font-size: 0.8em;
}
	
#footer a:hover{
	color:#a8a8a7;
}

#footer .cols{
	text-align: left;
}

#footer .social-networks{
	text-align: left;
	padding-top: 30px;
	padding-bottom: 30px;
} 

.footer-icon{
    height: 25px;
}

.copyright{
    font-size: 0.7em;
    color:#fff;
}

@media screen and (max-width: 550px){
	#myFooter {
		text-align: center;
	}
}
  
/* Type */

.content-title{
    font-family: 'Josefin Sans', sans-serif;
    color:#414141;
}

.content-text{
    color: #414141;    
}

/* Button */

button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Effects */
